.add {
  background-color: rgb(12, 214, 12);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#addTask {
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.add:focus {
  outline: none;
}

.title {
  font-size: 25px;
  font-style: italic;
  padding-top: 10px;
  padding-left: 10px;
}