.task {
  margin-left: 10px;
  margin-right: 10px;
  border: transparent;
  border-style: solid;
  border-width: 1px;
}
  
.task:hover {
  border: lightgrey;
  border-style: solid;
  border-width: 1px;
}
  
.taskName {
  border: none;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-size: 20px;
  margin: 10px;
  width: 500px;
}
  
.taskName:focus {
  outline: none;
}

.taskStatus {
  margin-left: 10px;
  display: inline-block;
  border-style: solid;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
}

.inProgress {
  color: blue;
}

.finished {
  color: green;
}

.unselected {
  color: lightgrey;
}